@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

#heading {

    color: Red;
}

#parent {
    padding: 2rem;
    background-color: palegreen;
}

#child {
    padding: 3rem;
    background-color: aliceblue;
    border-style: groove;
}

h1 {
    color: darkred;
    font-family: 'Gilroy-Bold';
}